@page
@model AgendaDIO.Areas.Contatos.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Lista de contatos";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Meus contatos</h2>
        <a asp-area="Contatos" asp-page="Create" class="btn btn-info" >
            <i class="fas fa-plus"></i>&nbsp;Novo
        </a>
    </div>

</div>

